 .inner{width:100%;
    margin:0 auto;
    overflow:hidden;
    width:1280px;}
    hr {clear:both;border:none}

#wrap{width:100%;margin:0 auto;}
#header .depth1 li{float:left}
#sec1{}
#sec1 .square{width:31%; padding-bottom:36%; background-color:#fff;
            float:left; margin-right:1%; margin-left:1%;margin-bottom:3%;
            margin-top:3%;
           box-shadow: 10px 10px 50px #999; overflow:hidden;position:relative;
            
        }



/*********************header****************************/


/*********************section****************************/
#sec1 .port {background-color:#93A6DB;padding-bottom:4% }
#sec1 .port .w_border{width:70%;padding-bottom:10%;margin-top:12%;margin-left:13%;
   border:5px solid #fff;color:#fff;}
#sec1 .port .w_border p {margin-left:5%;margin-top:1%;font-size:1.6rem;
      line-height:2.6rem;margin-right:5%}
#sec1 .port .w_border span{font-weight: bolder;line-height:6rem;font-size:3rem}
#sec1 .port .w_border b{float:right}

#sec1 .young{padding-bottom:0%}
#sec1 .young img{width:100%;height:30%;}
#sec1 .young > img:nth-child(2){top:28%}
#sec1 .young > img:nth-child(3){top:64%}



#sec1 .swim{padding-bottom:0}
#sec1 .swim > img{width:86%;}

#sec1 .get{padding-bottom:0;background-color:#F0D9C1;position:relative}
#sec1 .get > img{width:61.5%;height:auto; margin-left:75px;}
#sec1 .sec_t1 {position:absolute; margin:40% 0 0 2%;}

#sec1 .water{padding-bottom:0}
#sec1 .water img{width:87%;height:auto;margin-left:0%;float:left;}
#sec1 .water .conc{ margin-left:85%;margin-top:7%;font-size:0.8rem;}
#sec1 .water .conc span{font-size:2.5rem;font-weight:bold;line-height: 3rem;}
#sec1 .water .conc b{line-height:1.2rem; font-weight:500}


#sec1 .logoid{padding-bottom:0%;font-size:1.4rem;}
#sec1 .logoid > img{z-index:99999px;width:50%;height:auto;margin-left:25%;
   margin-top:3%;padding-bottom:3%}
#sec1 .logoid .circle{width:30%;height:26%;opacity:50%;background-color:#E41B53;position:absolute;
border-radius: 50%;z-index:99px;left:-12%;top:-10%;}
#sec1 .logoid .circle_b{width:30%;height:26%;opacity:50%;background-color:#333;position:absolute;
   border-radius: 50%;z-index:99px;right:-12%; bottom:-10%;}
#sec1 .sec_t2 {position:absolute; margin:83% 0 0 2%;}

#sec1 .mockup{padding-bottom:2%;overflow:hidden;font-size:1.4rem;}
#sec1 .mockup img{width:49%; height:13%;float:left;margin-top:0%;margin-left:0%;}

#sec1 .mockup img:nth-child(2){height:11%;margin-top:1%;margin-left:0}
#sec1 .mockup img:nth-child(3){height:14%;margin-top:4%;float:left;margin-left:0}
#sec1 .mockup img:nth-child(4){height:5%;;margin-top:8%;margin-bottom:0%;margin-left:2%}
#sec1 .mockup .book{margin-top:-3%;margin-left:2%;}
#sec1 .mockup .bag{width:40%;margin-top:2%;}


#sec1 .card{padding-bottom:17%;font-size:1.4rem;}
#sec1 .card img {margin:20% 0 0 5%;float:left; width:40%;
box-shadow: 5px 5px 5px #777; }
#sec1 .card img:nth-child(1){padding:0 5px 5px 0}

#sec1 .xd{height:auto;padding-bottom:0}
#sec1 .xd img{width:58%;margin-left:18%}
 
#sec1 .max {padding-bottom:3%}
#sec1 .max img{width:63%;margin-top:2%;padding:2%;margin-left:14%;border:2px solid #333;}
#sec1 .max .b_box{width:60%;height:11%;color:#fefefe;
margin-top:-4%;position:absolute;background-color:#555;line-height:1.5rem;font-size:0.7rem}
#sec1 .max .p_box{width:60%;height:0.3%;margin-left:0%;
   margin-top:7.4%;position:absolute;background-color:#93A6DB;}

#sec1 .sea {padding-bottom:4%;}   
#sec1 .sea img {width:100%;position:absolute}
#sec1 .sea .squ_bd{width:98.644%;  
            margin-top:25%;border:3px solid #93A6DB}

#sec1 .illust{padding-bottom:1%}
#sec1 .illust > img:nth-child(1){width:30%;height:auto;position:absolute;
                ;margin-top:4%;margin-left:30%;float:left;}
#sec1 .illust > img:nth-child(2){width:38%;height:auto;
                    ;margin-top:24%;float:left;margin-left:45%;}
#sec1 .illust > img:nth-child(3){width:38%;height:auto;
                        ;margin-top:-28%;margin-left:12%;float:left;}
#sec1 .illust > img:nth-child(4){width:38%;height:auto;
                            ;margin-top:0%;float:left;}
#sec1 .illust > img:nth-child(5){width:35%;height:auto;
                                ;margin-top:-32%;margin-left:13%;float:left;}
#sec1 .sec_t3 {position:absolute; margin:166% 0 0 2%;}

#sec1 .illu2 {padding-bottom:10%;}
#sec1 .illu2 .pbox{width:45%;height:40%;background-color:#93A6DB;margin-top:53%;
            margin-left:40%;position:absolute;}
#sec1 .illu2 img {width:46%; height:40%;margin-top:12%;margin-bottom:15%;margin-left:9%;}
#sec1 .illu2 img:last-child{width:25%;height:17%;margin-top:4%;margin-left:-5%}



#sec1 .path img{width:50%;z-index:9999px;height:42%;position:absolute;margin-left:-3%}
#sec1 .path img:nth-child(2){width:95%;height: 42%;position:absolute;margin-top:68%;margin-left:14%}
#sec1 .path .box2{width:45%;height:25%;background-color:#93A6DB;position:absolute;
               margin-left:50%;margin-top:30%;color:#fcfcfc;}
#sec1 .path .word{position:absolute;z-index:9px;
   font-size:3rem;line-height:3.4rem;font-weight:bold;color:#93A6DB}

#sec1 .star{background-color:#93A6DB;line-height:3rem;padding-bottom:0%;}
#sec1 .star img{width:50%;float:left}
#sec1 .star .box{padding-bottom:120%;
   position:absolute;width:40%;background-color:#fcfcfc;margin-left:47%;
   line-height:1.4rem; font-size:0.9rem}
#sec1 .star .box b{line-height:4rem;font-size:1.3rem;}

#sec1 .popor {padding-bottom:5%;color:#444;font-size:1.3rem;}
#sec1 .popor .p_border > p{margin-left:18%;padding-top:25%}
#sec1 .popor .p_border{width:70%;padding-bottom:9%;margin-top:14%;margin-left:13%;
   border:5px solid #93A6DB;z-index:999px}
#sec1 .popor img{position:absolute; width:35%; height:30%; z-index:999999px;
               margin-left:-8%;margin-top:-3%;}
#sec1 .popor .p_border > .duce{font-size:1.8rem;margin-left:18%;line-height:2.7rem;}




/*********************footer****************************/