 .inner{width:100%;
    margin:0 auto;
    overflow:hidden;
    width:1280px;}
    hr {clear:both;border:none}

#wrap{width:100%;margin:0 auto;}
#header .depth1 li{float:left}
#sec1{}
#sec1 .square{width:31%; padding-bottom:36%; background-color:#fff;
            float:left; margin-right:1%; margin-left:1%;margin-bottom:3%;
            margin-top:3%;
           box-shadow: 10px 10px 100px #999; overflow:hidden;position:relative;
            
        }

#footer{}

/*********************header****************************/


/*********************section****************************/
#sec1 .port {background-color:#93A6DB;padding-bottom:3% }
#sec1 .port .w_border{width:70%;padding-bottom:6%;margin-top:14%;margin-left:13%;
   border:5px solid #fff;color:#fff;}
   #sec1 .port .w_border p {margin-left:5%;margin-top:1%;font-size:1.6rem;
      line-height:2.6rem;margin-right:5%}
   #sec1 .port .w_border span{font-weight: bolder;line-height:4rem;font-size:2.2rem}
   #sec1 .port .w_border b{float:right}
#sec1 .young{padding-bottom:35.7%}
#sec1 .young img{position:absolute;width:100%}
#sec1 .young > img:nth-child(2){top:126px}
#sec1 .young > img:nth-child(3){top:290px}
#sec1 .xd{height:auto;padding-bottom:0}
#sec1 .xd img{width:63%;margin-left:18%}
#sec1 .logoid{padding-bottom:35.5%}
#sec1 .logoid > img{width:60%;height:auto;position:absolute;margin-left:20%}
#sec1 .illust{padding-bottom:1%}
#sec1 .illust > img:nth-child(1){width:30%;height:auto;position:absolute;
                ;margin-top:5%;margin-left:30%;float:left;}
#sec1 .illust > img:nth-child(2){width:38%;height:auto;
                    ;margin-top:15%;float:left;margin-left:45%;}
#sec1 .illust > img:nth-child(3){width:38%;height:auto;
                        ;margin-top:-28%;margin-left:12%;float:left;}
#sec1 .illust > img:nth-child(4){width:38%;height:auto;
                            ;margin-top:0%;float:left;}
#sec1 .illust > img:nth-child(5){width:35%;height:auto;
                                ;margin-top:-32%;margin-left:13%;float:left;}
                              
#sec1 .swim > img{width:100%;position:absolute }
#sec1 .get{padding-bottom:0;background-color:#F0D9C1}

#sec1 .get > img{width:63%;height:auto; margin-left:75px;}

#sec1 .water img{width:87%;height:auto;margin-left:5%;position:absolute}

#sec1 .path{background-color:deepskyblue}
#sec1 .path img{width:80%;position:absolute;margin-top:15%;margin-left:8%}
#sec1 .star{background-color:lightcyan}
#sec1 .star img{width:52%;position:absolute;float:left}
#sec1 .star .box{padding-bottom:120%;
   position:absolute;width:35%;background-color:#fcfcfc;margin-left:52%;
   }
 
   #sec1 .max img{width:66%;position:absolute;margin-top:10%;margin-left:15%}

/*********************foote11r****************************/